---
import Hamburger from "@components/Hamburger/Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "@components/ThemeIcon/ThemeIcon.astro";

---
<header class="mb-2 px-6 py-3 flex justify-between items-center space-around" >
  <Hamburger />
  <div>
    Logo
  </div>
  <Navigation />
  <ThemeIcon />
</header>