---
import TypographyLink from "@components/TypographyLink/TypographyLink.astro";

type Props = {
  className?: string,
  light?: boolean
}
const {className, light} = Astro.props
const LINKS = [
  { href: "/", light: !!light, label: "Home"},
  { href: "/blog/", light: !!light, label: "Blog"},
  { href: "/tags/", light: !!light, label: "Tagi"},
  { href: "/about/", light: !!light, label: "O mnie"},
]
---
<nav class:list={["font-semibold", className]}>
  {
    LINKS.map(link => (
      <TypographyLink href={link.href} light={link.light}>{link.label}</TypographyLink>
    ))
  }
</nav>
