---
import TypographyLink from "@components/TypographyLink/TypographyLink.astro";

---
<nav class="md:flex items-center justify-center gap-8 max-md:hidden font-semibold">
  <TypographyLink href="/">Home</TypographyLink>
  <TypographyLink href="/blog/">Blog</TypographyLink>
  <TypographyLink href="/tags/">Tags</TypographyLink>
  <TypographyLink href="/about/">About</TypographyLink>
</nav>
