---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getFormattedDate } from "@utils/date";
// const pageTitle = "About Me";

// const identity = {
//   firstName: "Sarah",
//   country: "Canada",
//   occupation: "Technical Writer",
//   hobbies: ["photography", "birdwatching", "baseball"],
// };

// const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const publishedDate = new Date("2024-01-10 17:20");
type Props = {
  frontmatter: any;
};
const publishedAtLocal = getFormattedDate(publishedDate);
---

<BaseLayout
  pageTitle="O mnie"
  description="Dowiedz si wicej o weterynarzu tworzcym bloga."
  ogType="profile"
>
  <Fragment slot="meta">
    <meta name="profile:username" content="weterynarzwpracy" />
    <meta name="profile:gender" content="female" />
    <meta name="profile:first_name " content="Ania" />
    <meta name="profile:last_name " content="Ganowska" />
  </Fragment>
    <meta itemprop="datePublished" content={publishedDate.toISOString()} />
    <meta itemprop="publisher" content="Anna Ganowska" />
    <meta itemprop="author" content="Anna Ganowska" />
    <article itemscope itemtype="https://schema.org/Author" class="mt-8">
      <header>
        <p>{publishedAtLocal}</p>
      </header>
      <h2>
        Nazywam si <span itemprop="name">Ania Ganowska</span> i jestem lekarzem weterynarii.
      </h2>
      <p itemprop="description">
        Moimi pacjentami s psy i koty, a tak偶e kr贸liki, gryzonie i gady.<br />
        Rozwijam si przede wszystkim w nefrologii ps贸w i kot贸w, a tak偶e w medycynie
        zwierzt egzotycznych.
      </p>
      <p>
        Na tej stronie chciaabym przekaza Wam wiedz na temat zwierzak贸w i
        pokaza jak mo偶ecie zadba o nie jeszcze lepiej! .<br />
        Zapraszam do wsp贸lnej weterynaryjnej przygody z <span class="italic"
          >weterynarz w pracy</span
        >!
      </p>
    </article>
</BaseLayout>
