---
import { Image } from 'astro:assets';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import AnnaGanowskaHiImg from "@assets/images/AnnaGanowskaHi.webp"
---

<BaseLayout>
  <section class="bg-blue-500 min-h-10">
    <!-- <h2>Hej tu Anna Ganowska - Weterynarz w pracy!</h2> -->
  </section>
  <section class="flex justify-center">
    <Image src={AnnaGanowskaHiImg} alt="To ja Anna Ganowska, weterynarz w pracy!"/>
  </section>
</BaseLayout>