---
import "./ButtonLink.sass"
type Props = {
  className?: string,
}
const {className} = Astro.props
---

<div class={`fill-blue-100 hover:fill-white ${className || ""}`} role="link">
  <slot/>
</div>
