---
import { Image } from "astro:assets"

type Props = {
  title: string
  imgSrc: any
  imgAlt: string
  className?: string
  description?: string
}
const { title, imgAlt, imgSrc, className, description } = Astro.props
---

<article
  class:list={[
    "flex justify-center items-center my-2 max-md:flex-col",
    className
  ]}
>
  <h2>{title}</h2>
  <p>{description}</p>
  <Image src={imgSrc} alt={imgAlt} class="mx-3" />
</article>
