---
import {SOCIAL_MEDIA_SERVICES} from 'src/types/social-media'

import InstagramIcon from "@assets/svgs/instagram.svg?raw"
import FacebookIcon from "@assets/svgs/facebook.svg?raw"
import ButtonLink from '@components/ButtonLink/ButtonLink.astro';

export type Props = {
  name: string;
  link: string;
  service: typeof SOCIAL_MEDIA_SERVICES[keyof typeof SOCIAL_MEDIA_SERVICES]
};
const ICONS = {
  [SOCIAL_MEDIA_SERVICES.INSTAGRAM]: InstagramIcon,
  [SOCIAL_MEDIA_SERVICES.FACEBOOK]: FacebookIcon,
}
const { name, link, service } = Astro.props;
const serviceIcon = ICONS[service]
---

<div class="flex justify-start items-center my-3">
  <a
    aria-label={name}
    href={link}
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="flex justify-center items-center gap-1"
  >
    <ButtonLink>
      <Fragment set:html={serviceIcon}/>
    </ButtonLink>
  </a>
</div>
