---
import "./ButtonLink.sass";
type Props = {
  className?: string;
  label: string
};
const { className, label } = Astro.props;
---

<div
  class={`svg-wrapper fill-blue-100 hover:fill-white ${className || ""}`}
  role="link"
  aria-label={`Go to ${label}`}
>
  <slot />
</div>
